
$primary: #669dcb;
$foreground: #c9c9c9;

CheckersHud {
    pointer-events: none;
}

.hidden { 
    display: none;
}

.visible {
    display: flex;
}

.rows {flex-direction:row;}
.columns {flex-direction:column;}

.pointer-visible {
    pointer-events: all;
}

.button {
    padding: 8px;
    background-color: darken( $primary, 25% );
    color: white;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    align-self: flex-start;
    border-radius: 4px;
    box-shadow: 2px 2px 15px rgba(black, .6);

    &:hover {
        background-color: $primary;
    }

    &:active {
        background-color: lighten($primary, 25%);
    }
}

pregamehud {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#222, 0.9);
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Poppins;
    pointer-events: all;

    .title {
        font-size: 28px;
        color: white;
        text-shadow: 1px 1px 2px black;
    }

    .players {
        flex-direction: row;
        gap: 60px;

        .versus {
            align-items: center;
            color: orange;
            font-size: 40px;
            text-stroke: 4px black;
        }

        .team {
            flex-direction: column;

            .title {
                padding: 5px 20px;
                border-radius: 4px 4px 0 0;
                background-color: orange;
            }

            &.red {
                .title {
                    background-color: #943d3d;
                }

                PlayerBox {
                    border-color: #943d3d;
                }
            }

            &.black .title {
                background-color: black;
            }
        }

        PlayerBox {
            padding: 20px;
            border: 1px solid black;
            background-color: rgba(black, .65);
            border-radius: 0 0 4px 4px;
            color: white;
            flex-direction: column;
            min-width: 300px;

            .waiting {
                color: yellow;
                margin-bottom: 10px;
            }

            .avatar {
                margin-right: 20px;
                border-radius: 4px;
                flex-shrink: 0;
                width: 64px;
                aspect-ratio: 1;
            }
        }
    }

    .escape {
        margin-top: 100px;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        color: white;
    }
}

livegamehud {
    display: none;
    position: absolute;
    flex-direction: column;
    font-size: 30px;
    font-family: Poppins;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: -1px;
    color: white;
    left: 0px;
    top: 10%;

    .details {
        background-color: rgba(black 0.7);
        backdrop-filter: blur(5px);
        padding: 10px 24px;
        border-radius: 0 10px 10px 0;
        border-left: 0;
        border: 2px solid white;
        border-left: 0;
    }

    .timer {
        margin-top: 5px;
        padding: 8px;
        background-color: rgba(black 0.85);
        height: 30px;
        border-radius: 0 10px 10px 0;
        backdrop-filter: blur(5px);

        .fill {
            transition: width 1s linear;
            width: 50%;
            height: 100%;
            background-color: lime;
            border-radius: 0 20px 20px 0;
        }
    }
}

endgamehud {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(black .5);
    backdrop-filter: blur(15px);
    transition: all .5s ease-out;
    pointer-events: all;

    .bar {
        width: 100%;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        color: white;
        font-family: Poppins;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .result {
            font-size: 48px;
            font-weight: 800;
        }

        .timer {
            font-size: 24px;
        }
    }
}
