
@inherits Sandbox.UI.RootPanel;
@attribute [Sandbox.UI.StyleSheet("ui/styles.scss")]

<root>
	<div class="pointer-visible"></div>
	<checkersnametags></checkersnametags>
	<chatbox></chatbox>
	<livegamehud></livegamehud>
	<pregamehud></pregamehud>
	<endgamehud></endgamehud>
</root>
