
@inherits Sandbox.UI.RootPanel
@implements Sandbox.Menu.IGameMenuPanel
@attribute [Sandbox.UI.StyleSheet]
@using Sandbox.UI;

<root>

    <div class="background"></div>
    <div class="overlay"></div>

    <Menu />

</root>
