
@page "/findgame"

<root>
    <div class="rows">
        <div class="button">Create a game</div>
    </div>
    <div class="games-list">
        <div class="games-entry">
            <div class="player-box">
                <div class="rows">
                    <div class="columns">
                        <div class="name">Crayz</div>
                        <div class="score">Elo: 1345</div>
                    </div>
                </div>
            </div>
            <div class="versus">vs</div>
            <div class="player-box">
                <div class="rows">
                    <div class="columns">
                        <div class="name">Crayz</div>
                        <div class="score">Elo: 1345</div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</root>
