
<root>
    <PlayerBox />
    <div class="versus">vs</div>
    <PlayerBox />
</root>

@code {
    public ILobby Lobby { get; set; }

    protected override void OnParametersSet()
    {
        
    }
}
