
@using Sandbox.UI
@inherits NavHostPanel

<root class="content">
    <div class="navbar">
        <div class="logo">Checkers</div>
        <navlink href="/findgame" class="link">⚔️ Versus Player</navlink>
        @if (Sandbox.Game.InGame)
        {
            <div class="link" @onmousedown="@QuitGame">🚶‍♂️ Leave Game</div>
        }
    </div>
    <div @ref="NavigatorCanvas" class="body"></div>
</root>

@code {
    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnParametersSet();

        if(firstTime) Navigate("/findgame");
    }

    void QuitGame()
    {
        Sandbox.Game.Menu.LeaveServer("Client left");
    }
}
