
@inherits Panel

<root>
    <div class="rows">
        <img class="avatar" src="avatar:@(@SteamId)" />
        <div class="columns">
            @if (WaitingToJoin)
            {
                <div class="waiting">Waiting on this player</div>
            }
            <div class="name">@Name</div>
            <div class="score">Elo - @Elo</div>
        </div>
    </div>
</root>

@code {
    public string? Name { get; set; }
    public long? SteamId { get; set; }

    int Elo;
    bool WaitingToJoin;

    public override void Tick()
    {
        base.Tick();

        if(SteamId != null)
        {
            WaitingToJoin = CheckersGame.Instance?.IsWaitingFor(SteamId.Value) ?? false;
        }
    }

    protected override int BuildHash()
    {
        return WaitingToJoin ? 1 : 0;
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (SteamId == null) return;

        if (string.IsNullOrEmpty(Name))
        {
            Name = new Friend(SteamId.Value).Name;
        }

        FetchElo();
    }

    async void FetchElo()
    {
        if (SteamId == null) return;

        Elo = (int)(await CheckersLeaderboard.GetScore(SteamId.Value));

        StateHasChanged();
    }
}
