
@inherits Panel

<root>
    <div class="rows">
        <img class="avatar" src="avatar:@(@SteamId)" />
        <div class="columns">
            <div class="name">@Name</div>
            <div class="score">Elo - @Elo</div>
        </div>
    </div>
</root>

@code {
    public string Name { get; set; }
    public int Elo { get; set; }
    public long SteamId { get; set; }
}
